@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/*Navagation css*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p, a {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    font-family: "Playwrite GB S", cursive;
}

.nav_links {
    list-style: none;
}

.navlink {
    display: inline-block;
    padding: 0px 20px;
}

.navlink a {
    transition: all 0.3s ease 0s;
}

.navlink a:hover {
    color:#D3D3D3;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    height: 80dvh;
    background-color: rgb(249, 249, 249);
}

.header_image {
    height: 500px;
    width: 600px;
}

.section_one h1 {
    font-size: 40px;
    font-family: "Playwrite GB S", cursive;
}

.section_one p {
    font-size: 20px;
}

.space {
    height: 10dvh;
    background-color: rgb(249, 249, 249);
}

/*service section css*/

.services {
    height: 120dvh;
}

.our-services {
    padding: 75px 10%;
}

.our-services h2{
    font-family: "Playwrite GB S", cursive;
    font-weight: 700;
    font-size: 30px;
    color: black;
}

.services_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.service_card {
    width: 25em;
    height: 90%;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
}

.service_card_image {
    width: 300px;
    height: 300px;
    padding: 1em;
    border-radius: 2em;
}

.service_card_description h3 {
    padding: .5em;
}

.service_card_description p {
    padding: 1em;
}